<link rel="stylesheet" href="/static/style.css">

<nav>
    
    <a href="/">Início</a>
    <a href="/cadastro">Cadastrar</a>
    <a href="/logout">Sair</a>
</nav>

<div class="container">
    <h2>Cadastrar Área</h2>

    <form method="POST">
        <input type="text" name="nome" placeholder="Nome da área" required>
        <input type="text" name="descricao" placeholder="Descrição" required>
        <input type="number" name="prioridade" placeholder="Prioridade (1-5)" required>
        <button type="submit">Salvar</button>
    </form>
</div>

